/* ++++++++++++++++++++++++++++++ RESET ++++++++++++++++++++++++++++++ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ++++++++++++++++++++++++++++++ FUENTE MINECRAFT ++++++++++++++++++++++++++++++ */

@font-face {
    font-family: 'minecraft';
    src: url(../fonts/minecraft/minecraft.ttf);
}

@font-face {
    font-family: 'ponter-alt';
    src: url(../fonts/ponter/ponter-alt.ttf);
}

@font-face {
    font-family: 'ponter-bold';
    src: url(../fonts/ponter/ponter-bold.ttf);
}

/* ++++++++++++++++++++++++++++++ GENERALES ++++++++++++++++++++++++++++++ */

body {
    font-family: 'Teko', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* ++++++++++++++++++++++++++++++ HEADER ++++++++++++++++++++++++++++++ */

#header {
    background-color: #00088E;
    position: fixed;
    width: 100%;
    z-index: 2;

}

.logo {
    width: 70px;
    height: 70px;
    /* margin-bottom: 5px; */
    /* margin-left: 30px; */

}

.fsc {
    font-family: 'Teko', cursive;
    letter-spacing: 0.2rem;
    /* font-family: 'minecraft'; */
    color: #FFFFFF;
    font-size: 2.2rem;
    margin: 0px;
    -webkit-text-stroke: 1px #FFFFFF;
    color: transparent;
    /* margin: -40px 5px 0px 15px; */
}

/* .container-fluid p {
    margin: 0px;
} */

/* .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
} */

/* .menu a:hover {
    color: #FFFFFF;
} */

/* MENU */
.nav-link {
    font-family: 'ponter-alt', sans-serif;
    color: #FFFFFF;
    font-size: 1.3rem;
    /* background-color: #FFFFFF; */
    text-align: center;
    /* margin: -40px 5px 0px 5px; */
}

/* .nav-item {
    background-color: #c54444;
    width: 100px;
    border: 1px solid;
} */

/* ++++++++++++++++++++++++++++++ MAIN ++++++++++++++++++++++++++++++ */

.main {
    padding: 90px 0px 50px 0px;
}

/* ++++++++++++++++++++++++++++++ BANNER ++++++++++++++++++++++++++++++ */

/* .banner {
    background-image: url(../img/fondo-champions.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
} */

/* ++++++++++++++++++++++++++++++ CAROUSEL ++++++++++++++++++++++++++++++ */

.img-carousel {
    max-width: 100%;
    width: 100vw;
    height: 30vh;
    margin-bottom: 5px;
}

@media (min-width: 425px) {
    .img-carousel {
        height: 40vh;
    }

}

/* @media (min-width: 576px) {
    .img-carousel {
        height: 40vh;
    }

} */

/* ++++++++++++++++++++++++++++++ TITULO Y SUBTITULO ++++++++++++++++++++++++++++++ */

.titulo {
    font-family: 'minecraft';
    color: #FFFFFF;
}

.sub-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #4DFFFF;
    font-size: 1.3rem;
    padding: 5px;
    margin-bottom: 2px;
}

/* ++++++++++++++++++++++++++++++ SECTION ++++++++++++++++++++++++++++++ */

.card-title {
    background-color: #00088E;
    color: #FFFFFF;
    font-family: minecraft;
    font-size: 15px;
    height: 50px;
    padding: 20px;
    /* margin-top: 130px; */
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: .5fr 1.5fr 0.5fr 0.5fr 1fr 0.7fr .7fr .7fr 0.5fr;
    grid-template-rows: repeat(9, .5fr)
}

/* ETIQUETAS */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: #4DFFFF;
    padding: 5px;
}

/* IMAGENES GRID */
.trofeo {
    width: 40px;
}

.bandera {
    width: 20px;
}


/* @media (min-width: 375px) {
    .text-center {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .text-center {
        font-size: 1.2rem;
    }

    .trofeo {
        width: 30px;
    }
}

@media (min-width: 768px) {
    .text-center {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    .text-center {
        font-size: 1.6rem;
    }
} */


/* JUGADOR */
.linea-impar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CACFD2;
    margin-top: 2px;
}

.linea-par {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
    margin-top: 2px;
}

/* ++++++++++++++++++++++++++++++ COMPETICION ++++++++++++++++++++++++++++++ */

.competicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CACFD2;
    width: 100vw;
    height: 80vh;
}

/* ++++++++++++++++++++++++++++++ PLAYERS ++++++++++++++++++++++++++++++ */

.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CACFD2;
    width: 100vw;
    height: 80vh;
}

/* ++++++++++++++++++++++++++++++ TERMINOS & CONDICIONES ++++++++++++++++++++++++++++++ */

.premiacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cajaGrisOscuro {
    max-width: 100%;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    background-color: #CACFD2;
}

.cajaGrisClaro {
    max-width: 100%;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    background-color: #F2F3F4;
}

.cajaGrisOscuro p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.3rem;
}

.cajaGrisClaro p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.3rem;
}

@media (min-width: 768px) {

    .premiacion {
        flex-direction: row;
    }

    .cajaGrisOscuro {
        width: 100vw;
        height: 620px;
        background-color: #CACFD2;
    }

    .cajaGrisClaro {
        width: 100vw;
        height: 620px;
        background-color: #F2F3F4;
    }
}

@media (min-width: 992px) {

    .cajaGrisOscuro {
        width: 100vw;
        height: 520px;
        background-color: #CACFD2;
    }

    .cajaGrisClaro {
        width: 100vw;
        height: 520px;
        background-color: #F2F3F4;
    }
}

/* ++++++++++++++++++++++++++++++ FOOTER ++++++++++++++++++++++++++++++ */

.container-menu-footer {
    background-color: #00088E;
    color: #FFFFFF;
    padding: 10px 0px 0px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* padding: 0px 5px; */

}

.nav-footer {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-footer i {
    display: block;
    font-size: 20px;
    /* margin-bottom: 5px; */
}

.nav-footer:hover {
    color: #06cde7;
}

/* .footer {
    position: absolute;
    bottom: 0;
    background-color: #000040;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
} */