/* ++++++++++++++++++++++++++++++ RESET ++++++++++++++++++++++++++++++ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ++++++++++++++++++++++++++++++ FUENTES ++++++++++++++++++++++++++++++ */

@font-face {
    font-family: 'minecraft';
    src: url(../fonts/minecraft/minecraft.ttf);
}

@font-face {
    font-family: 'ponter-alt';
    src: url(../fonts/ponter/ponter-alt.ttf);
}

@font-face {
    font-family: 'ponter-bold';
    src: url(../fonts/ponter/ponter-bold.ttf);
}

/* ++++++++++++++++++++++++++++++ GENERALES ++++++++++++++++++++++++++++++ */

body {
    font-family: 'Teko', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* ++++++++++++++++++++++++++++++ HEADER ++++++++++++++++++++++++++++++ */

#header {
    background-color: #00088E;
    position: fixed;
    width: 100%;
    z-index: 2;

}

.logo {
    width: 70px;
    height: 70px;
}

.fsc {
    font-family: 'Teko', cursive;
    letter-spacing: 0.2rem;
    color: #FFFFFF;
    font-size: 2.2rem;
    margin: 0px;
    -webkit-text-stroke: 1px #FFFFFF;
    color: transparent;
}

/* MENU */

/* .nav-link {
    font-family: 'ponter-alt', sans-serif;
    color: #FFFFFF;
    font-size: 1.3rem;
    text-align: center;
}

.nav-item {
    background-color: #c54444;
    width: 100px;
    border: 1px solid;
} */

/* ++++++++++++++++++++++++++++++ MAIN ++++++++++++++++++++++++++++++ */

.main {
    padding: 90px 0px 50px 0px;
}

/* CAROUSEL */

.img-carousel {
    max-width: 100%;
    width: 100vw;
    height: 30vh;
    margin-bottom: 5px;
}

@media (min-width: 425px) {
    .img-carousel {
        height: 40vh;
    }
}

@media (min-width: 768px) {
    .img-carousel {
        height: 60vh;
    }
}

/* ++++++++++++++++++++++++++++++ TITULO Y SUBTITULO ++++++++++++++++++++++++++++++ */

.titulo {
    font-family: 'minecraft';
    color: #FFFFFF;
}

.sub-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #4DFFFF;
    font-size: 1.3rem;
    padding: 5px;
    margin-bottom: 2px;
}

/* TITULO CON FONDO AZUL */
.card-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #00088E;
    color: #FFFFFF;
    font-family: 'Teko';
    font-size: 2rem;
    height: 50px;
    padding: 0px 10px;
    margin: 0px;
    letter-spacing: .1rem;
}

.card-title p {
    margin: 0px;
    display: inline-block;
    font-size: .9rem;
    color: #4DFFFF;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: .5fr 1.7fr 0.5fr 0.5fr 1fr 0.7fr .7fr .7fr 0.3fr;
    grid-template-rows: repeat(9, .5fr);
    margin-bottom: 20px;
}

/* ETIQUETAS */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: #4DFFFF;
    padding: 5px;
}

.grid-item-nombre {
    align-items: flex-start;
    padding: 5px 5px 5px 0px;
}

/* IMAGENES GRID */
.trofeo {
    width: 40px;
}

.bandera {
    width: 20px;
}

/* @media (min-width: 375px) {
    .text-center {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .text-center {
        font-size: 1.2rem;
    }

    .trofeo {
        width: 30px;
    }
}

@media (min-width: 768px) {
    .text-center {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    .text-center {
        font-size: 1.6rem;
    }
} */

/* POSICION JUGADOR */
.linea-impar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CACFD2;
    margin-top: 2px;
}

.linea-impar-nombre {
    align-items: flex-start;
}

.linea-par {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F3F4;
    margin-top: 2px;
}

.linea-par-nombre {
    align-items: flex-start;
}

/* ++++++++++++++++++++++++++++++ COMPETICION ++++++++++++++++++++++++++++++ */

.competicion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CACFD2;
    width: 100vw;
    height: 80vh;
}

/* ++++++++++++++++++++++++++++++ PLAYERS ++++++++++++++++++++++++++++++ */

.players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CACFD2;
    width: 100vw;
    height: 80vh;
}

/* ++++++++++++++++++++++++++++++ TERMINOS & CONDICIONES O INFO ++++++++++++++++++++++++++++++ */

.premiacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cajaGrisOscuro {
    max-width: 100%;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    background-color: #CACFD2;
}

.cajaGrisClaro {
    max-width: 100%;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    background-color: #F2F3F4;
}

.cajaGrisOscuro p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.3rem;
}

.cajaGrisClaro p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.3rem;
}

@media (min-width: 768px) {

    .premiacion {
        flex-direction: row;
    }

    .cajaGrisOscuro {
        width: 100vw;
        height: 620px;
        background-color: #CACFD2;
    }

    .cajaGrisClaro {
        width: 100vw;
        height: 620px;
        background-color: #F2F3F4;
    }
}

@media (min-width: 992px) {

    .cajaGrisOscuro {
        width: 100vw;
        height: 520px;
        background-color: #CACFD2;
    }

    .cajaGrisClaro {
        width: 100vw;
        height: 520px;
        background-color: #F2F3F4;
    }
}

/* ++++++++++++++++++++++++++++++ FOOTER ++++++++++++++++++++++++++++++ */

.container-menu-footer {
    background-color: #00088E;
    color: #FFFFFF;
    padding: 10px 0px 0px 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-footer {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-footer i {
    display: block;
    font-size: 20px;
}

.nav-footer:hover {
    color: #06cde7;
}